.navbar {
  position: fixed;
  top: 0;
  left: 0;

  z-index: 20;
  right: 0;
  height: 3.6rem;
  background-color: #fff;
  box-sizing: border-box;
  border-bottom: 1px solid #eaecef;

  padding: .7rem 1.5rem;
  line-height: 2.2rem;
  .logo{
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 600;
    color: #2c3e50;
  }
}

.main-container{
  margin-top:  3.6rem;
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;

  aside{
    padding: 1rem 0;
    border-right: 1px solid #eaecef;
    .header{
      color: #999;
      font-size: 1.1em;
      font-weight: 700;
      padding: 0 1.5rem;
      margin-top: 0;
      margin-bottom: .5rem;
    }

    ul{
      padding: 0;
      margin: 0;
      list-style-type: none;
      line-height: 1.7;
    }
  }
  main{
    flex: 1;
  }
}